.reservations-table {
  &__paper {
    margin-bottom: 20px;
  }

  &__container {
    height: calc(100vh - 254px);
  }

  &__filters-container {
    min-width: 628px;
    width: 60%;
    display: flex;
    gap: 10px;
  }

  &__toolbar,
  &__pagination {
    display: flex;
    justify-content: space-between;
  }

  &__items-per-page {
    width: 100px;
  }
}
